<div id="map-canvas"></div> <!-- Google Maps -->
<!-- Content -->
<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-8" id="left">


        <% @centres.group_by_city.each do |city, centres| %>
          <ul> <%= city %></ul>
            <% centres.each do |centre| %>
              <li><%= centre.name %> - <%= centre.address %></li>
            <% end %>
          </ul>
        <% end %>
        
      <br>

      <%= link_to 'New Centre', new_centre_path %>    

    </div>
  </div>
</div> <!-- /Content -->


