<div id="map-canvas"></div> <!-- Google Maps -->
<!-- Content -->
<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-8" id="left">

        <% @centres.group_by_city.each do |city, centres| %>
          <ul id="city-name-list-header"> <%= city %></ul>
            <% centres.each do |centre| %>
              <li class="community-centre-list-item"><%= centre.name %> - <%= centre.address %></li>
            <% end %>
          </ul>
        <% end %>
        
      <br>
      <% if current_user %>
        <%= link_to 'New Centre', new_centre_path %>
      <% end %>

    </div>
  </div>
</div> <!-- /Content -->


